* {
    margin: 0px;
    padding: 0px;
}

.cabecalho {
    background-color: hsl(30, 60%, 98%);
    height: 100px;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: space-between;
    color: #462e80;

}

.logotipo{
    height: auto;
    width: 150px;  
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 20px;
}

li:active {
    color: #ec348d;
}

.botaocomecegratis {
    display: flex;
    align-items: center;
}

.comecegratis {
    background-color: #54beaa;
    height: 40px;
    width: 150px;
    color: aliceblue;
    border: 0px;
    border-radius: 10px;
    margin-left: 20px;
    font-weight: bold;
}

.comecegratis:hover{
    background-color:#462e80;  

}

.menu {
    display: flex;
    align-items: center;
    color:rgb(77, 16, 134)
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    font-weight: bold;
    font-size: 15px;
}

.sessaodoinicio {
    display: flex;
    padding-left: 150px;
}

h1 {
    font-size: 50px;
    font-weight: 400;
}

.subtituloinicio {
    font-size: 20px;
}

.imagembannerinicio{
     height: auto;
    width: 900px;
}